.acrd_container{
  width: 100%;
}

.card {
  width: 900px;
  /* min-height: 500px; */
  /* max-height: 900px; */
  background-color: var(--card-onboarding-bg-color);
  padding: 1em;
}

.card_section {
  display: flex;
  /* justify-content: space-between; */
  align-content: center;
  align-items: center;
  flex-direction: column;

}

.card_vendor{
   display: flex;
   flex-direction: column;
   padding: 0 6em 3em 6em;
  /* justify-content: space-between; */
  /* align-content: center; */
  /* align-items: center; */
}

.header_for_vendor{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0.9em 0 0 0;
}
.confirm_onboarding{
padding: 1em;
  width: 100px;
  height: 100px;
  background-color: #DCFCE7;

  color: green;
  border-radius: 50%;
}

.onboarding_setup_card{
  /* background-color: aliceblue; */
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.onboarding_setup_card p{
  text-align: center;
  color: #4b5563;
  line-height: 1.5em;
}
.onboarding_setup_card h2{
  font: 2.5em;
}

.onboarding_setup_card a{
  color: var(--main-auth-button-color);
  font-weight: 600;
}



