@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}



:root {
  --main-auth-button-color: #1e3a8a;
  --background-color-onboarding: #EFF6FF;
  --edit-button-background: #bde0fe;
  --edit-button-color: black;
  --delete-button-background: #ffccd5;
  --active-status-background: #d8f3dc;
  --inactive-status-background: #ffccd5;
  --card-onboarding-bg-color: #f5f7fa
  
}


input {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  height: 40px;
}
button {
  font-family: "Inter", sans-serif;
}


input[type="textarea"]{
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  height: 40px;
}

select {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  height: 40px;
  background-color: white;
}

.invite_user_btn {
 border: 1px solid var(--main-auth-button-color);
  padding: 7px 10px;
  width: 8em;
  background-color: var(--main-auth-button-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  width: fit-content;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 5px;
  width: 10em;
}

.error_icon{
  transform: rotate(180deg); /* or any angle */
  transition: transform 0.2s ease;
  color: red;
}

.error_text_sec{
  display: flex;
  align-items: center;
padding: 0.2em 0 0 0;
  gap: 0.4em;
}

.error_text_sec p {
  color: red;
  font-size: 14px;
}
.main_onBoarding input{
  cursor: pointer
}
.main_onBoarding select{
  cursor: pointer
}